/* CSS declarations go here */

span.debug {
	color: grey;
	z-index: 2000;
	top: 0px;
	left: 0px;
	position:relative;
	display: inline;
	margin-left: auto;
    margin-right: auto;
    table-layout: fixed;
    border-collapse: collapse;
	
	
	
	display: none;
	visibility: hidden;
	
}
span.debug::before { 
    content: "/* ";
}
span.debug::after{ 
    content: " */";
}

.bold {
	font-weight: 800;
}


/* 
 * Preventing FOUC
 * http://foundation.zurb.com/sites/docs/responsive-navigation.html
 * make sure we can't see both top-bar and title-bar at once during start
 * */

.no-js .top-bar {
  display: none;
}

@media screen and (min-width: 40em) {
  .no-js .top-bar {
    display: block;
  }

  .no-js .title-bar {
    display: none;
  }
}

/* make * before required fields
 * see: https://github.com/aldeed/meteor-autoform#how-can-i-show-an-asterisk-after-the-label-for-required-fields
*/
[data-required] label:after {
	content: ' *';
	color: #d9534f;
}


/* used in tags to add some margin in list*/
.margin5 {
	margin: 5px;
}

/* used in forms to add clickable things on spans or labels */
span.clickable {
	cursor: pointer;
	color: #337AB7;
	font-weight: normal;
}
span.clickable:hover {
	text-decoration: underline;
}

/* all js-classes should have this class */
.haspointer {
	cursor: pointer;
}
[class^="js"] {
    cursor: pointer;
}

span.left-pill {
	padding: 4px 8px;
	border-radius: 8px 0 0 8px;
}

span.right-pill {
	padding: 4px 8px;
	border-radius: 0 8px 8px 0;
}