/* CSS declarations go here */

span.debug {
	color: grey;
	z-index: 2000;
	top: 0px;
	left: 0px;
	position:relative;
	display: inline;
	margin-left: auto;
    margin-right: auto;
    table-layout: fixed;
    border-collapse: collapse;
	
}
span.debug::before { 
    content: "/* ";
}
span.debug::after{ 
    content: " */";
}